{
  "extends": ["airbnb"],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-console": "off",
    "import/no-extraneous-dependencies": "off",
    "no-unused-expressions": "off"
  },
  "env": {
    "jasmine": true
  },
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint"
}
