.idea/
node_modules/
public/js/
public/css/

JSON

JSON\.map

*.scssc

src/stylesheets/main\.css\.map

src/stylesheets/main\.css

src/stylesheets/imageLabel\.css

*.map

JSON

JSON\.map

*.scssc

src/stylesheets/main\.css\.map

src/stylesheets/main\.css

src/stylesheets/imageLabel\.css

*.map

public/bundle.js

JSON

JSON\.map

*.scssc

src/stylesheets/main\.css\.map

src/stylesheets/main\.css

src/stylesheets/imageLabel\.css

*.map

package-lock\.json
yarn-error.log

coverage.json
/coverage/
js-coverage/
report.lcov
.coveralls.yml
build/
dist/
\.nyc_output/
*pyc
css/

public/contracts/
\.node-xmlhttprequest-sync-*
